.frame-selection {
    display: grid;
    grid-template-columns: 1fr 175px;
    gap: var(--spacing-12x);
    align-items: center;
}

.frame-selection .frame-body {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 18px;
    box-sizing: border-box;

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 0.875rem;
        background-color: var(--surface-transparent-primary);
    }
}