@import '@salutejs/sdds-themes/css/sdds_serv__dark.css';

:root {
    background-color: var(--background-primary-brightness);
}

body {
    margin: 0;
    position: relative;

}

.main-wrapper {
    padding: 0 var(--spacing-10x) 124px var(--spacing-10x);
}